<h1>Listing matches</h1>

<table>
  <thead>
    <tr>
      <th>Match time</th>
      <th>Team1</th>
      <th>Team2</th>
      <th>Tournament</th>
      <th>Mode</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.match_time %></td>
        <td><%= match.team1 %></td>
        <td><%= match.team2 %></td>
        <td><%= match.tournament %></td>
        <td><%= match.mode %></td>
        <td><%= link_to 'Show', match %></td>
        <td><%= link_to 'Edit', edit_match_path(match) %></td>
        <td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Match', new_match_path %>
